<ng-container [ngSwitch]="cellType">
  <td *ngSwitchCase="tdType" class="table-cell table-cell__td"><ng-container appMarksHighlight>{{cellCut(cell)}}</ng-container></td>
  <th *ngSwitchCase="thType" (click)="sortColumn()" class="table-cell table-cell__th">
    {{dateTransformer(cell)}}
    <span class="table-cell__span"
          [class.table-cell__span--invisible]="!isSorted"
          [class.table-cell__span--top]="isEven()"
          [class.table-cell__span--bottom]="!isEven()"
    >V</span>
  </th>
</ng-container>
