<ng-container *ngIf="popUp">
  <app-pop-up-action [data]="sendComponent(popUp)" (close)="closePopUp()"></app-pop-up-action>
</ng-container>
<ng-container *ngIf="pops">
  <app-pop-up (confirmationResult)="confirmPopUp($event)" [items]="pops"></app-pop-up>
</ng-container>
<button
  (click)="applyChanges()"
  class="table__btn--save"

  [ngClass]="{
  'table__btn--wait' : (stateChangesForBtn$ | async),
  'table__btn--loading': (isLoad$ | async) && !(!(isLoad$ | async) && (stateChangesForBtnComplete$ | async))
  }"
></button>
<div class="container" *ngIf="subjectTableConfig"
>
      <app-one-header-table
        [config]="subjectTableConfig"
        (emitMap)="setSortedColumnName($event)"
        (click)="handleClickEvents($event.target)"
        [paginationConstant]="itemsPerPage"
        [currentPagination]="page"
        (emitPagination)="dispatchPaginationState($event)"
      ></app-one-header-table>
      <app-button
        class="subject-table__btn"
        [textContent]="'+'"
        [screenReader]="'COMPONENTS.SUBJECTS.TABLE.FORMS.DATE.NEW_DATE_BTN_SCREEN' | translate"
        (click)="pushHeaders()"
      ></app-button>
</div>
<ng-container *ngIf="teacherConfig">
  <app-form [config]="teacherConfig.config"
            (onSubmit)="changeTeacher($event)"></app-form>
</ng-container>

