@import "src/styles/variables.sass"
.search-bar__form
  display: flex
  flex-grow: 1
  max-width: 60rem
  margin: 0 auto
  border-radius: 20px
  box-shadow:  15px 15px 29px #272727, -15px -15px 29px #353535
  overflow: hidden
  transition: all 0.3s
  &:hover .search-bar__input,
  &:hover .search-bar__button
    border-bottom: 0.05rem solid $active-color
.search-bar__label
  flex-grow: 1
  display: flex
.search-bar__input
  flex-grow: 1
  padding: 2rem
  font: inherit
  background: $bg-color
  border: 0
  color: $color
  outline: none
  border-bottom: 0.05rem solid transparent
  transition: all 0.3s
  &:focus
    border-bottom: 0.05rem solid $active-color
.search-bar__button
  background: transparent
  border: none
  color: $active-color
  font: inherit
  padding-right: 2rem
  outline: none
  border-bottom: 0.05rem solid transparent
  cursor: pointer
  transition: all 0.3s
  &:focus
    border-bottom: 0.05rem solid $active-color

