$color: #FFFFFF
.students__button
  margin: 2rem auto
  background: transparent
  display: flex
  font-size: 2rem
  width: 4rem
  min-height: 4rem
  color: $color
  border-radius: 10px
  box-shadow:  15px 15px 29px #272727, -15px -15px 29px #353535
  &:hover
    border-radius: 10px
    box-shadow: inset 15px 15px 29px #272727, inset -15px -15px 29px #353535

.table__link
  text-decoration: none
