$color: #FFFFFF
.students__button
  position: fixed
  left: 90%
  top: 30%
  background: transparent
  display: flex
  width: 4rem
  min-height: 4rem
  color: $color
  border-radius: 20px
  box-shadow:  15px 15px 29px #272727, -15px -15px 29px #353535
  &:hover
    border-radius: 20px
    box-shadow: inset 15px 15px 29px #272727, inset -15px -15px 29px #353535
