@import "src/styles/variables.sass"
.table-row
  display: flex
  flex-grow: 1
  flex-direction: row
.table-row__cell
  min-width: 10rem
  display: flex
.table-row__btn--delete
  font: inherit
  color: red
  transition: all 0.3s
  border-radius: 10px
  box-shadow:  15px 15px 29px #272727, -15px -15px 29px #353535
  display: flex
  align-self: center
  margin-right: 2rem
  &:hover, &:focus
    color: $active-color
    cursor: pointer
[index="0"]
  position: sticky
  left: 0
[index="1"]
  position: sticky
  left: 10rem
