<div class="contaner">
  <h2 class="title">
    Statistics by: {{data[data.length - 1][0] | date}} — {{data[data.length - 1][1] | date}}
  </h2>
  <ngx-charts-bar-vertical-stacked
    [view]="view"
    [scheme]="colorSchemeDates"
    [results]="datesInRange"
    [gradient]="gradient"
    [xAxis]="showXAxis"
    [yAxis]="showYAxis"
    [legend]="showLegend"
    [showXAxisLabel]="false"
    [showYAxisLabel]="showYAxisLabel"
    [xAxisLabel]="xAxisLabel"
    [yAxixLabel]="yAxisLabel"
  ></ngx-charts-bar-vertical-stacked>
</div>
