<nav class="subjects__nav">
  <ul class="subjects__list">
    <li *ngFor="let subject of subjectService.subjects | async"
      class="subjects__item"
    >
      <a class="subjects__link"
        routerLink="/subjects/{{subject._id}}"
      >
        <app-button
          class="subjects__btn"
          textContent="{{subject.name}}"
          screenReader="Go to {{subject.name}}"
        ></app-button>
      </a>
    </li>
  </ul>
</nav>
<a  class="subjects__link subjects__link--form"
  routerLink="/new-subject"
>
  <app-button
    class="subjects__btn"
    screenReader="Create new subject"
    textContent="+"
    [action]="addNewSubject"
    (emitter)="addNewSubject()"
  >

  </app-button>

</a>
