$color: #FFFFFF
$active-color: #ffa500

.container
  display: flex
  user-select: none
.pagination__list
  display: flex
  list-style: none
  justify-content: space-between
  align-items: center
  font-size: 1rem
  flex-grow: 1
  padding: 0
  margin: 0
.pagination__left
  text-align: right
.pagination__button
  flex-grow: 1
  background: transparent
  border: none
  color: $color
  font-size: 1.5rem
  &:hover
    color: $active-color
.active
  border-bottom: 0.05rem solid $active-color
