<tr class="pagination__row">
  <td class="pagination__cell" colspan="100%">
    <div class="container">
      {{countPagination(data)}}
      <app-button
        screenReader="move to the previous Page"
        textContent="<"
        (click)="decreasePagination()"
        class="pagination__button"
      ></app-button>
      <ul class="pagination__list">
        <li class="pagination__item" *ngFor="let page of pagination"
            [class.active]="page === currentPaginationNumber"
        >
          <app-button
            screenReader="Page number is {{page}}"
            textContent={{page}}
            (click)="setPaginationConstant(page)"
            class="pagination__button pagination__number"
          ></app-button>
        </li>
      </ul>
      <app-button
        screenReader="move to the next Page"
        textContent=">"
        (click)="increasePagination()"
        class="pagination__button"
      ></app-button>
    </div>
  </td>
</tr>
