@import "src/styles/variables.sass"
.table
  display: flex
  flex-direction: column
  box-sizing: border-box
  color: $color
.table__caption
  display: flex
  text-transform: uppercase
  font-weight: bold
  padding: 1rem
  align-self: center
  justify-content: center
  align-items: center
  color: $active-color
.table__body, .table__head, .table__foot
  display: flex
  flex-direction: column
  padding: 1rem

.table__text--empty
  font: inherit
  color: $color
  text-transform: capitalize
