<form
  [formGroup]="form"
  (ngSubmit)="submit()"
  class="form"
>
  <legend *ngIf="config.legend" class="form__legend">{{config.legend}}</legend>
  <ng-container *ngFor="let input of config.formGroupName.formControls">
    <ng-container *ngIf="input.type !== 'textarea'">
      <label class="form__label">
        <span class="form__label-name">{{input.description | titlecase}}</span>
          <input
                    type="{{input.type}}"
                    formControlName="{{input.name}}"
                    class="form__input"
                    placeholder="{{input.placeholder}}"
                  >
      </label>
      <ng-container

        *ngIf="isShowErrorMessage(getControlName(input.name))"
      >
        <span class="form__span--error"
              *ngIf="getControlName(input.name).errors.required">
          {{input.errorMessages[0]}}
        </span>
        <span class="form__span--error"
              *ngIf="getControlName(input.name).errors.pattern">
          {{input.errorMessages[2]}}
        </span>
        <span class="form__span--error"
              *ngIf="getControlName(input.name).errors.maxlength">
          {{input.errorMessages[1]}}
        </span>
      </ng-container>
    </ng-container>
    <ng-container *ngIf="input.type === 'textarea'">
      <label class="form__label">
        <span class="form__label-name">{{input.description}}</span>
        <textarea
          formControlName="description"
          class="form__input"
          placeholder="{{input.placeholder}}"
        ></textarea>
      </label>
      <ng-container

        *ngIf="isShowErrorMessage(getControlName(input.name))"
      >
        <span class="form__span--error"
              *ngIf="getControlName(input.name).errors.maxlength">
          {{input.errorMessages[0]}}
        </span>
      </ng-container>
    </ng-container>
  </ng-container>
  <button
    type="submit"
    [disabled]="!form.valid"
    class="form__submit"
  >{{"BUTTON_TYPE.SUBMIT" | translate}}</button>
</form>
