<ng-container *ngIf="pops">
  <app-pop-up [items]="pops"></app-pop-up>
</ng-container>
<ng-container>
    <nav class="subjects__nav">
      <ng-container *ngIf="(subjects$ | async).data.length; else empty">
        <ul class="subjects__list">
          <li *ngFor="let subject of (subjects$ | async).data"
              class="subjects__item"

          >
            <app-button
              (click)="deleteSubject($event)"
              class="subjects__btn subjects__btn--delete"
              textContent="{{'X'}}"
              [screenReader]="'COMPONENTS.SUBJECTS.LIST.DELETE_BTN' | translate:{subject: subject.name}"
              [attr.subject]="subject.name"
            ></app-button>
            <a class="subjects__link"
               routerLink="{{subject.name}}"
            >
              <app-button
                class="subjects__btn"
                textContent="{{subject.name}}"
                [screenReader]="'COMPONENTS.SUBJECTS.LIST.LINK' | translate:{subject: subject.name}"
              ></app-button>
            </a>
          </li>
        </ul>
      </ng-container>
      <ng-template #empty>
        <app-empty-data class="subjects__nav-empty"></app-empty-data>
      </ng-template>
    </nav>
    <a  class="subjects__link subjects__link--form"
        routerLink="new-subject"
    >
      <app-button
        class="subjects__btn"
        screenReader="{{'COMPONENTS.SUBJECTS.LIST.LINK_NEW_SUBJECT_FORM' | translate}}"
        textContent="+"
        [action]="addNewSubject"
        (emitter)="addNewSubject()"
      >

      </app-button>

    </a>
</ng-container>

