<!--[selected]="navigator.language === 'en'"-->
<div class="wrapper">
  <div class="container">
    <h1 class="logo">
      <a href="/" class="logo__link">{{"LOGO" | translate}}</a>
    </h1>
    <app-navigation></app-navigation>
    <select class="language__select" (change)="dispatchLanguage($event)">
      <option
        *ngFor="let langOption of langOptions"
        [value]="langOption"
        [selected]="getDefaultLang() === langOption"
        class="language__option"
      >{{langOption}}</option>
    </select>
  </div>
  <app-breadcrumbs class="breadcrumbs"></app-breadcrumbs>
  <ng-container *ngIf="(isLoad$ | async)">
    <app-loading></app-loading>
  </ng-container>
  <ng-container *ngIf="isAnyErrorOccur((errors$ | async)); else app">
    <ng-container *ngFor="let error of (errors$ | async)">
      <app-error-message-display [error]="error"></app-error-message-display>
    </ng-container>
  </ng-container>
  <ng-template #app>
    <router-outlet></router-outlet>
  </ng-template>
</div>

