.logo__link
  color: #FFFFFF
  text-transform: uppercase
  text-decoration: none
  padding: 1rem

.wrapper
  display: flex
  flex-direction: column
.container
  display: flex
  align-items: center
  justify-content: space-around
  flex-wrap: wrap
.breadcrumbs
  display: flex
  align-self: center
