<div class="wrapper">
  <div class="container">
    <h1 class="logo">
      <a href="/" class="logo__link">Teacher Journal</a>
    </h1>
    <app-navigation></app-navigation>
    <select class="language__select" (change)="dispatchLanguage($event)">
      <option class="language__option">en</option>
      <option class="language__option">ru</option>
    </select>
  </div>
  <app-breadcrumbs class="breadcrumbs"></app-breadcrumbs>
  <!--
  <ng-container *ngIf="!isLoading((componentState$ | async)); else app">
    <app-loading></app-loading>
  </ng-container>
  -->
      <router-outlet></router-outlet>
    <!--
    <ng-container *ngIf="isAnyErrorsOccur((componentState$ | async)); else content">
      <ng-container *ngFor="let error of getAllStateErrors((componentState$ | async))">
        <app-error-message-display
          [error]="error"
        ></app-error-message-display>
      </ng-container>
    </ng-container>
    -->
</div>

