
<ng-container *ngIf="(studentsState$ | async).loading">
  <app-loading></app-loading>
</ng-container>
<div class="container">
  <app-search-bar
    class="students__search"
    (searchRes)="renderSearch($event)"
    [barValue]="searchPlaceholder"
  ></app-search-bar>
  <ng-container *ngIf="tableConfig">
    <app-one-header-table
      [displayDelete]="true"
      [config]="tableConfig"
      (click)="deleteStudent($event)"
      [paginationConstant]="itemsPerPage"
      [currentPagination]="page"
      (emitPagination)="dispatchPaginationState($event)"
      class="student-table__table"
    ></app-one-header-table>
  </ng-container>

  <a routerLink="/students/new-student" class="table__link">
    <app-button
      class="students__button"
      screenReader="{{'COMPONENTS.STUDENTS.ADD_BTN' | translate}}"
      textContent="+"
    ></app-button>
  </a>
</div>


