$color: #FFFFFF

.students-table__table
  color: $color
  display: flex
  flex-direction: column
  max-width: 40rem
  margin: 0 auto

.students-table__head,
.students-table__body
  display: flex
  flex-grow: 1
  margin: 1rem
  box-sizing: border-box

.students-table__row
  flex-grow: 1
  display: flex
  align-items: center
  justify-content: space-between
  text-transform: uppercase

.students-table__header
  padding: 1rem

.students-table__cell
  text-transform: lowercase
  padding: 1rem

