<tfoot class="table-foot">
  <tr class="table-foot__row">
    <td class="table-foot__cell table-foot__cell--controller">
      <app-button class="table-foot__btn table-foot__btn--controller" screenReader="Move to the beginning" textContent="<<"
        (click)="isLastOrFirst(false)"></app-button>
      <app-button class="table-foot__btn table-foot__btn--controller" screenReader="Move to the previous page" textContent="<"
                  (click)="decrease()"></app-button>
        <ul class="table-foot__list">
          <li class="table-foot__item" *ngFor="let page of pageList">
            <app-button
              class="table-foot__btn"
              [class.active]="page === currentPagination"
              [textContent]="page"
              screenReader="Show {{page}} of table"
              (click)="setCurrentPagination(page)"
            ></app-button>
          </li>
        </ul>
      <app-button class="table-foot__btn table-foot__btn--controller" screenReader="Move to the next page" textContent=">"
                  (click)="increase()"
      ></app-button>
      <app-button class="table-foot__btn table-foot__btn--controller" screenReader="Move to the last page" textContent=">>" (click)="isLastOrFirst(true)"></app-button>
    </td>
    <td class="table-foot__cell table-foot__cell--meta">
      <span class="table-foot__descriptor">
        {{generateMetaCell()}}
      </span>
    </td>
    <td class="table-foot__cell table-foot__cell--selector">
      <span class="table-foot__descriptor">Items per page:</span>
      <select class="table-foot__select" (change)="changePaginationConstant.emit(+$event.srcElement.value)">
        <option
          [selected]="option === paginationConstant"
          class="table-foot__option"
          *ngFor="let option of paginationConstantList"
          [value]="option"
        >{{option}}</option>
      </select>
    </td>
  </tr>
</tfoot>
