<nav>
  <ul class="app-navigation__list">
    <li class="app-navigation__item">
      <a routerLink="/students" routerLinkActive="active" class="app-navigation__link">
        {{"NAVIGATION.STUDENTS" | translate}}
      </a>
    </li>
    <li class="app-navigation__item">
      <a routerLink="/subjects" routerLinkActive="active" class="app-navigation__link">
        {{"NAVIGATION.SUBJECTS" | translate}}
      </a>
    </li>
    <li class="app-navigation__item">
      <a routerLink="/statistics" routerLinkActive="active" class="app-navigation__link">
        {{"NAVIGATION.STATISTICS" | translate}}
      </a>
    </li>
    <li class="app-navigation__item">
      <a routerLink="/export" routerLinkActive="active" class="app-navigation__link">
        {{"NAVIGATION.EXPORT" | translate}}
      </a>
    </li>
  </ul>
</nav>
