<section class="statistic">
  <h2 class="statistic__title">Statistic</h2>
  <div class="wrapper">
    <div class="statistic__dropdown dropdown">
      <button class="dropdown__select-btn"
              (click)="isHidden = !isHidden"
      >
        Selected dates:<span *ngIf="selected.length === 0"> V </span>
        <br>
        <span *ngIf="selected[0]"> {{selected[0] | date:"dd/MM/yy"}}</span>
        <span *ngIf="selected.length > 1">
        <span>{{selected.length === 2 ? " and " : " ... "}}</span>
        {{selected[selected.length - 1] | date:"dd/MM/yy"}}</span>

      </button>
      <form
        #form="ngForm"
        class="dropdown__content"
        [class.dropdown__content--hidden]="isHidden"
        [class.dropdown__content--visible]="!isHidden"
      >
        <div class="dropdown__controller">
          <button class="dropdown__btn" (click)="checkAll()">Check All</button>
          <button class="dropdown__btn" (click)="unCheckAll()">Uncheck All</button>
        </div>
        <ul class="dropdown__list">
          <li class="dropdown__item" *ngFor="let subject of subjects">
            <app-dropdown
              [(ngModel)]="subject[1]"
              name="{{subject[0].name}}"
              [label]="subject[0].name"
              [checked]="subject[1]"
              (change)="changeCheck(subject)"
            ></app-dropdown>

            <form class="dropdown__dates"
                  #formDate="ngForm"
                  [class.dropdown__dates--hidden]="!subject[2]"
                  [class.dropdown__dates--visible]="subject[2]"
            >
              <ul class="dropdown__list">
                <li class="dropdown__item dropdown__item--scale" *ngFor="let data of dates[subject[0].id]">
                  <app-dropdown
                    [(ngModel)]="data[1]"
                    name="{{data[0]}}"
                    [label]="data[0] | date:'MMM d, y'"
                    [checked]="data[1]"
                    (change)="changeCheck(subject, data)"
                  ></app-dropdown>
                </li>
              </ul>
            </form>
          </li>
        </ul>
        <div class="dropdown__controller">
          <button class="dropdown__btn" (click)="expandAll()">Expand All</button>
          <button class="dropdown__btn" (click)="collapseAll()">Collapse All</button>
        </div>
      </form>
    </div>
    <div class="statistic__students">
      <ul class="statistic__data-list">
        <li
          *ngFor="let microTable of render"
          class="statistic__data-item"
        >
          <table class="statistic__data-table">
            <caption
              class="statistic__data-caption"
            >{{microTable.caption}}</caption>
            <thead class="statistic__data-head">
              <tr class="statistic__data-header-row">
                <th
                  class="statistic__data-body-cell"
                  *ngFor="let header of microTable.headers"
                  [ngStyle]="{'width.%': 100 / microTable.headers.length}"
                >
                  {{header | date:"yyyy/MM/dd"}}
                </th>
              </tr>
            </thead>
            <tbody class="statistic__data-body">
              <tr class="statistic__data-body-row">
                <td
                  *ngFor="let cell of microTable.body"
                  class="statistic__data-body-cell"
                  [ngStyle]="{'width.%': 100 / microTable.headers.length}"
                >
                  <ul class="statistic__data-body-list">
                    <li
                      *ngFor="let stat of cell; let i = index"
                      class="statistic__data-body-item"
                    >
                      <span *ngIf="i !== cell.length - 1">{{stat}}</span>
                      <span
                        *ngIf="i === cell.length - 1"
                        class="statistic__data-item--average"
                      ><pre>{{stat}}</pre></span>
                    </li>
                  </ul>
                </td>
              </tr>
            </tbody>
          </table>
        </li>
      </ul>
    </div>
  </div>
</section>


